* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: #000;
  min-height: 100vh;
  height: 100%;
}

header {
  list-style-type: none;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 100px;
  z-index: 10000;
}

header.sticky {
  padding: 5px 80px;
  background: rgb(46, 11, 65);
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  text-shadow: 0 0 5px;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 1000px;
  transition: 0.3s;
  font-family: CaviarDreams;
  font-size: 1.5vw;
}

.sec {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background: url(background.png);
  background-size: cover;
}

.sec .frase {
  padding-top: 150px;
  justify-content: center;
  color: #fff;
  max-width: 85vw;
  text-align: center;
  font-size: 30px;
  font-family: CaviarDreams;
}

.sec .frase span {
  text-shadow: 0 0 4px #ba8cff;
  color: #ba8cff;
  font-family: Harukaze;
  font-size: 95px;
  line-height: 80px;
  vertical-align: middle;
}

.sec .box-body {
  position: relative;
  align-items: center;
  max-height: 100%;
  display: grid;
  min-height: 100vh;
  /*provavelmente vai dar errado*/
}

.sec .box {
  max-width: 100vw;
  position: relative;
  width: 80vw;
  height: 270px;
  display: flex;
  margin: 20px;
  transition: 0.5s;
  opacity:0.85;

}

.sec .box:hover  {
    opacity:1;
}

.sec .box .imgBx {
  background: #060012;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1
}

.sec .box .imgBx img {
  max-width: 250px;
  opacity: 0.9;
  transition: 0.5s;
}

.sec .box:hover .imgBx img {
  opacity: 1;
}

.sec .box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: #fff;
}

.sec .box:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: #fff;
  filter: blur(40px);
}

.sec .box:before,
.sec .box:after {
  background: linear-gradient(135deg, #89ff00, #010615, #00BCD4);
}

.sec .box:nth-child(2):before,
.sec .box:nth-child(2):after {
  background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.sec .box:nth-child(3):before,
.sec .box:nth-child(3):after {
  background: linear-gradient(120deg, #943dff, #010615, #ff03cd);
}

.sec .box:nth-child(4):before,
.sec .box:nth-child(4):after {
  background: linear-gradient(35deg, #b005ff, #010615, #00BCD4);
}

.sec .box:nth-child(5):before,
.sec .box:nth-child(5):after {
  background: linear-gradient(35deg, #00fbff, #010615, #9305ff);
}

.sec .box:nth-child(6):before,
.sec .box:nth-child(6):after {
  background: linear-gradient(135deg, #ff6600, #010615, #ff0000);
}

.sec .box:nth-child(7):before,
.sec .box:nth-child(7):after {
  background: linear-gradient(235deg, #89ff00, #010615, #bbff6b);
}

.sec .box:nth-child(8):before,
.sec .box:nth-child(8):after {
  background: linear-gradient(315deg, #ff03cd, #010615, #ff0000);
}

.sec .box .content {
  padding: 0;
  margin: 0;
  transition: 0.5s;
  z-index: 1;
  width: 100%;
}

.sec .box .content .caracteristicas {
  margin-top: 5px;
  margin-left: 14.5vw;
  color: white;
  font-family: CaviarDreams;
  font-size: 30px;
}

.sec .box .content .selectComponente {
  margin-left: 14.5vw;
  margin-top: 1vh;
  font-size: 30px;
  font-family: CaviarDreams;
  color: white;
  background-color: #060012;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  transition: 0.5s;
}
.sec .box .content .selectComponente option{
  font-size: 25px;
}
.sec .box .content .caracteristicas .descrição{
  max-width: 53vw;
}
.selectComponente:hover {
  cursor: pointer;
  text-shadow: 0 0 10px white;
  font-size: 35px;
}

.sec .box .content .preço {
  position: absolute;
  font-family: CaviarDreams;
  left: 70.5vw;
  top: 22vh;
}

.quantiadepeças {
  margin-top: 5px;
  margin-left: 14.5vw;
  color: white;
  font-family: CaviarDreams;
  font-size: 30px;
}

.slider {
  vertical-align: middle;
  margin-left: 1vw;
  -webkit-appearance: none;
  height: 5px;
  background: #dddddd;
  outline: none;
  opacity: 0.7;
  cursor: pointer -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 100px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  border-radius: 100%;
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(194, 136, 250);
}

.slider::-moz-range-thumb {
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background: rgb(232, 208, 255);
  cursor: pointer;
}

.footer {
  margin-top: 5vh;
  background-color: rgb(27, 20, 34);
  overflow: hidden;
}

.footer .redes {
  display: table-row;
}

.footer .redes li {
  display: table-row;
  list-style: none;
  padding: 0 80px;
  font-size: 50px;
  text-decoration: none;
  color: white;
  font-family: CaviarDreams;
}

.footer .redes li a {
  text-decoration: none;
  color: white;
  font-family: CaviarDreams;
}

.footer .redes li a img {
  vertical-align: middle;
}

.footer .tcc {
  float: right;
  padding: 3% 10% 0 0;
}

.footer .tcc h2 {
  color: white;
  font-size: 50px;
  font-family: CaviarDreams;
  float: right;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width:1280px) {
  .footer .redes li {
    font-size: 35px;
  }
  .sec .box .content .caracteristicas .descrição{
    font-size: 28px;
    max-width: 45vw;
  }
  .sec .box .content .selectComponente {
    margin-left: 21.5vw;
    margin-top: 1vh;
  }

  .sec .box .content .caracteristicas {
    margin-left: 21.5vw;
    margin-top: 1vh;
  }

  .sec .box .content .preço {
    position: absolute;
    font-family: CaviarDreams;
    left: 66vw;
    top: 25vh;
  }
  .quantiadepeças {
    margin-left: 21.5vw;
  }
  .footer .tcc h2 {
    font-size: 30px;
  }

  .footer .tcc {
    padding: 10% 5% 0 0;
  }

  .sec .frase {
    font-size: 25px;
  }

  .sec .frase span {
    line-height: 80px;
    font-size: 90px;
  }

}

@media only screen and (max-width:1024px) {
  .footer .redes li {
    font-size: 25px;
  }

  .sec .box .content .selectComponente {
    margin-left: 27vw;
    margin-top: 1vh;
  }

  .quantiadepeças {
    margin-left: 27vw;
  }

  .sec .box .content .caracteristicas {
    margin-left: 27vw;
    margin-top: 1vh;
  }
  .sec .box .content .caracteristicas .preço{
    left: 63vw;
    top: 16vh;
  }
  .sec .box .content .caracteristicas .descrição{
    font-size: 25px;
    width: 34vw;
  }
  .footer .tcc h2 {
    font-size: 30px;
  }

  .footer .tcc {
    padding: 10% 5% 0 0;
  }

  .sec .frase {
    font-size: 25px;
  }

  .sec .frase span {
    font-size: 100px;
  }

  header {
    padding: 25px 100px;
  }

  header.sticky {
    padding: 10px 80px;
  }

  header .logo img {
    width: 92%;
  }

  header ul li a {
    font-size: 1.85vw;
  }
}

@media only screen and (max-width:980px) {
  .footer .tcc {
    padding: 10% 5% 0 0;
  }

  .sec .frase {
    font-size: 25px;
  }

  .sec .box .content .selectComponente {
    margin-left: 28vw;
    margin-top: 1vh;
  }
  .sec .box .content .caracteristicas {
    margin-left: 28vw;
  }
  .sec .box .content .caracteristicas .preço{
    left: 61.5vw;
    top: 10.5vh;
  }
  .quantiadepeças {
    margin-left: 28vw;
  }

  .sec .frase span {
    font-size: 100px;
  }

  header {
    padding: 25px 100px;
  }

  header.sticky {
    padding: 10px 80px;
  }

  header .logo img {
    width: 92%;
  }

  header ul li a {
    font-size: 1.85vw;
  }
}

@font-face {
  font-family: CaviarDreams;
  src: url('CaviarDreams.ttf');
}

@font-face {
  font-family: CaviarDreamsBold;
  src: url('CaviarDreams.ttf');
}

@font-face {
  font-family: Harukaze;
  src: url('Harukaze.ttf');
}
